<!-- <app-huy></app-huy>
<hello-world-binding></hello-world-binding>
<hello-world-interpolation></hello-world-interpolation>
<hello-world-ngIf></hello-world-ngIf>
<hello-world-di></hello-world-di> -->

<p>Let's see some magic here! :)</p>



<!-- ---------------------------- -->
<!-- ngIf, ngIfElse -->
<!-- <hello *ngIf="user.age>=15;else: under15" [nameUser]="user.name"></hello> -->


<!-- FullySyntax is following:
<ng-template [ngIf]="user.age >=15" [ngIfElse]="under15">
    <hello [nameUser]="user.name">
    </hello>
</ng-template> -->



<!-- <ng-template #under15>
    <div>You are too young to see this content</div>
</ng-template>

<button (click)="user.age= user.age -1">-</button>
Age: {{ user.age }}
<button (click)="user.age= user.age +1">+</button> -->
<!-- ---------------------------- -->




<!-- ---------------------------- -->
<!-- ngFor -->

<!-- name - id - phone, minh phai xac dinh cai the nao muon lap tren html -->
<!-- <ul>
    <ng-container *ngIf="users.length > 0;else noUsers">
        <li
            *ngFor="let user of users; index as idx; count as total; first as isFirst; last as isLast; even as isEven; odd as isOdd">
            <span>{{user.name}}-{{user.id}}-{{user.phone}}</span>
            <br>
            <span>at index {{idx}} out of {{total}}</span>
            <br>
            <span *ngIf="isEven">I am even number.</span>
            <br>
            <span *ngIf="isOdd">I am odd number.</span>
            <br>
            <span *ngIf="isFirst">I am first.</span>
            <br>
            <span *ngIf="isLast">I am odd last.</span>
        </li>
    </ng-container>

</ul>

<ng-template #noUsers>No Users</ng-template>

<button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">{{tag}}</button> -->

<!-- ngFor bao gom nhung context sau:
 - $implicit: item Implicit context Variable
 - index: so thu tu trong mang cua item
 - count: do dai cua Array
 - first: item dau tien
 - last: item cuoi cung
 - even: phan tu mang index chan
 - odd: phan tu mang index le
 -->
<!-- ---------------------------- -->




<!-- ---------------------------- -->
<!-- class binding
    style binding -->
<!-- <button (click)="isDanger = !isDanger">Toggle Danger</button>
<br>
<button (click)="isWarning = !isWarning">Toggle Danger</button>

<div class="box" [class.red-border]="isDanger" [class.yellow-background]="isWarning"></div>

<div class="box" [class]="['red-border','yellow-background']"></div>

<div class="box" [class]="{'red-border': isDanger, 'yellow-background': isWarning}"></div>

<div [class]="classes"></div> -->
<!-- Binding Class:
    - [class.ten-class]
    - [class]="[array]"
    - [class]="{'ten-class(string)': boolean}"//object
    - [class]=[variable]
-->
<!-- Binding Style:
    - style="thuoc-tinh: value"//like HTML
    - [style.thuocTinh] or [style.thuoc-tinh]='value'
    - [style.thuocTinh.UNIT] = "value"
    - [style]="{object}"
    - [style.css-variable]
 -->
<!-- <p style="color: red">Let's see some magic here! :)</p>
<p [style.color]="'red'" [style.fontSize.rem]="2">Let's see some magic here! :)</p> -->

<!-- ---------------------------- -->





<!-- ---------------------------- -->
<!-- Input binding -->
<!-- <button (click)="currentProgress = currentProgress +1" style="margin-right: 5px;">Increase Progress</button>
<button (click)="currentProgress = currentProgress -1">Decrease Progress</button>
<br>
<br>
<progress-bar></progress-bar>

<br>
<progress-bar [progress]="currentProgress" [progressColor]="'dodgerblue'"></progress-bar> -->
<!-- <progress-bar [progress]="70" , [progressColor]="'blue'"></progress-bar> -->
<!-- ---------------------------- -->



<!-- ---------------------------- -->
<!-- Output binding: cach de component con ban ra 1 su kien va component hieu va xu ly, những thứ component con nhận được từ vào input thì ko thể xóa/sửa/thêm vào được trên đó, về vì bản chất nó vẫn ở
component cha và do component cha quản lý, vì vậy cần phải có 1 listenner của component cha để đáp ứng các nhu cầu của component con gửi lên thông qua output -->
<!-- <app-author-list></app-author-list> -->
<!-- ---------------------------- -->


<!-- ---------------------------- -->
<!-- custom two-way binding: nhu da biet thi [()] la data va event, bay gio ket cmn hop lai thi ntn day -->
<!-- <app-toggle [(checked)]="isChecked"></app-toggle> -->

<!-- ---------------------------- -->






<!-- An buoi 1 - bootcamp04---------------------------- -->
<!-- đi qua luồng của ứng dụng: A giống React build single page, có khái niệm mới là module, 1 cái component ko được đứng 1 mình, phải có module quản lý, A sẽ tạo ra app module sẽ quản lý tất cả các com của mình
nó cũng tạo sẵn một com mẫu là app.component.ts, cái này được quản lý bởi app module, app com là com gốc quản lý toàn bộ ứng dụng,
có 2 cấp độ component là page (com lớn, gom những cái com nhỏ) hoặc header (com nhỏ), dù nhỏ hay lớn vẫn phải khai báo ở app module
giống việc làm xác thực cho 1 object
Tại sao nó biết là lấy từ app com?
main.js ở html, AppModule ở trong bootstrapModule nên nó truy suất vào đó, rồi vào trong app module lại bootstrap thành AppCom,
vì vậy ta có thể đổi lại cái khác là gốc, nhưng việc này là không cần thiết, chúng ta chỉ nắm luồng chạy mà thôi. OK
- Khái niệm com: là 1 cái đầy đủ html css js>  -->
<!-- <app-demo></app-demo> -->
<!-- <app-home></app-home> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-data-binding-bt></app-data-binding-bt> -->

<!-- khuc cuoi duoc goi la template variable -->

<!-- ket thuc buoi 1 -->
<!-- An buoi 1---------------------------- -->




<!-- Day 9: ViewChild---------------------------- -->
<!-- Muon tao 1 variable o file template (html) thi ta lam the nao day, (viec co bien o html se tang tinh dieu khien, tuong tac lam cho
    more flexible ahihi?) -->
<!-- Co 1 giai phap tam goi la: 
    Parent interacs with child via local variable => so, how? -->
<!-- Template như một giải pháp hữu hiệu -->

<!-- <app-toggle #toggleCom></app-toggle> -->
<!-- Giờ làm sao để có thể gọi được phương thức nằm trong app-toggle (toggle()) bằng 1 button nằm ở template của parent -->
<!-- <button (click)="toggleCom.toggle()">Change Status</button> -->

<!-- phải luyện thêm về ngClass và ngStyle, xong rồi đến structural directive -->
<!-- ngStyle truoc nha, bat dau nao -->
<!-- <br>
<label>Yellow Background: <input type="checkbox" [(ngModel)]="canSave"></label> |
<label>Red Border: <input type="checkbox" [(ngModel)]="isUnchanged"></label> |
<label>Scale x2: <input type="checkbox" [(ngModel)]="isSpecial"></label>

<div
    [ngStyle]="{'background': canSave? 'yellow': '', 'border': isUnchanged? '2px solid red': '', 'width': isSpecial? '300px':'150px', 'height': isSpecial? '300px': '150px'}">
</div>


ngClass -->
<!-- <select #buttonValue (change)="classBtn(buttonValue.value)">
    <option type="radio" value="btn-danger"> <label>Danger Button</label> |
    <option type="radio" value="btn-success"><label>Success Button: </label> |
    <option type="radio" value="btn-info"><label>Info Button: </label> |
</select> -->
<!-- Cú pháp của ngClass tức là có bật class đó hay không, ta nhét vào 1 object chứa các thuộc tính mà giá trị của nó chỉ là boolean là true or false -->
<!-- <button [class]="btnClass" class="btn">Click me!</button>

<div ></div> --> -->


<!-- Day 11: cac kieu du lieu trong typescrip -->
<!-- Day 12: advanced types data -->
<!-- Den day da---------------------------- -->





<!-- An buoi 2---------------------------- -->
<!-- Directive là một thành phần mở rộng HTML, hay nói cách khác là các thuộc tính của các thẻ HTML
Nay tìm hiểu:
structural directive 
attribute directive -->
<!-- <app-demo></app-demo> -->
<!-- <app-home></app-home> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-data-binding-bt></app-data-binding-bt> -->
<!-- <app-demo-directive></app-demo-directive>

<p *ngIf="!isSick; else abc">Go to cyberSoft</p>

<ng-template #abc>
    <p>Go to cyberCORE</p>
</ng-template>

<button (click)="onFeel(true)">Feel Sick</button>
<button (click)="onFeel(false)">Feel Good</button>


<select [(ngModel)]="month" class="d-block mt-5">
    <option>Chọn tháng</option>
    <option *ngFor="let month of monthOptions" [value]="month.value">{{ month.lable }}</option>

</select>

<div [ngSwitch]="month">
    <p *ngSwitchCase="1">Tháng 1 có 31 ngày</p>
    <p *ngSwitchCase="2">Tháng 2 có 28 ngày</p>
    <p *ngSwitchCase="3">Tháng 3 có 31 ngày</p>
    <p *ngSwitchCase="4">Tháng 4 có 30 ngày</p>
    <p *ngSwitchDefault>Vui lòng chọn tháng hợp lệ</p>
</div> -->

<!-- <app-demo-directive></app-demo-directive> -->
<!-- <app-crud-product-bt></app-crud-product-bt> -->
<!-- Hết buổi 2 rồi nha -->
<!-- ----------------------------------------------------------- -->
<!-- <app-student-list></app-student-list> -->
<!-- <app-booking-bus></app-booking-bus> -->
<!-- Hết buổi 3 rồi nha -->







<!-- Luyện công tiếp nè -->
<!-- <br>
<label>Yellow Background: <input type="checkbox" [(ngModel)]="canSave"></label> |
<label>Red Border: <input type="checkbox" [(ngModel)]="isUnchanged"></label> |
<label>Scale x2: <input type="checkbox" [(ngModel)]="isSpecial"></label>

<div
    [ngStyle]="{'background': canSave? 'yellow': '', 'border': isUnchanged? '2px solid red': '', 'width': isSpecial? '300px':'150px', 'height': isSpecial? '300px': '150px'}">
</div> -->


<!-- ngClass -->
<!-- <select [(ngModel)]="btnClass">
    <option type="radio" value="btn-danger"> <label>Danger Button</label> |
    <option type="radio" value="btn-success"><label>Success Button: </label> |
    <option type="radio" value="btn-info"><label>Info Button: </label> |
</select> -->
<!-- Cú pháp của ngClass tức là có bật class đó hay không, ta nhét vào 1 object chứa các thuộc tính mà giá trị của nó chỉ là boolean là true or false -->
<!-- <button [class]="btnClass" class="btn">Click me!</button>
<button [ngClass]="defaultBtn">Default Button</button>

<div></div>

<app-toggle #toggleCom></app-toggle> --> -->
<!-- Giờ làm sao để có thể gọi được phương thức nằm trong app-toggle (toggle()) bằng 1 button nằm ở template của parent -->
<!-- <button (click)="toggleCom.toggle()">Change Status</button>

<button (click)="changeStatus()">Change Status</button> -->





<!-- Luyện công tiếp nào: ngTemplateOutlet, ngTemplateOutletContext -->
<!-- Một bài tập tự chế, tạo ra 4 kiểu các nút nhấn và ta truyền vào các class khác nhau, khi nhan vao cac nut thi hien ra current so thu tu nut:
1. btn, btn-primary, disabled, no rounded
2. no btn, btn-danger, abled
3. btn, btn-success, disable
4. btn, btn-warning, able, rounded-->
<!-- bây giờ làm sao? tạo ra 2 component, buttonItem, va buttonList, sau do truyen ngTemplate tu parent component tu cha sang con, dung cac let-name de tao
template variable, sau do goi template button nay bang <ng-container> xong truyen tham sao vao thong qua ngTemplateOutletContent, sau đó dùng output để gửi số thứ tự lên -->
<!-- <button-group></button-group> -->

<app-bt-mua-hang></app-bt-mua-hang>










<br>
<br>
<br>
<br>